@import url('../../style/fonts.css');
@import url('../../style/menu.css');
@import url('../../style/footer.css');

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .box {
    position: relative;
    width: 488px;
    height: 488px;
    background: mediumaquamarine;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container .box label {
    color: black;
    font-size: 18px;
    text-align: left;

}

.container .box input {
    position: relative;
    width: 188px;
    height: 38px;
    border-radius: 6px;
    box-shadow: none;
    border: none;
}

.container .box .btn {
    background: black;
    color: white;
    position: relative;
    width: 188px;
    height: 38px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
