.corpo { 
    background-image: url(https://raw.githubusercontent.com/Humidus-Solutions/RIVUS-Website/master/assets/hero-bg.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 550px;

} 

.h1 {
    background-color: #010024; 
    margin-top: -1%; 
    margin-left: -1%; 
    margin-right: -8px; 
    height: 100px;
    color: #ffffff; 
    padding: 20px; 
    text-align: center; 
    font-family: 'Times New Roman', Times, serif
}

.logo{
    width: 100px; 
    right: 150px; 
    margin-right: 90%; 
    margin-top: -40px; 
}

.divpai {
    display: flex;
}

#div_check{
    width: 70%;
    margin: 0 auto;
    margin-left: 20px;  
    margin-top: 20px; 
    color: #ffffff;
    margin-top: auto ;
}

#div_cisterna{
    width: 70%;
    margin: 0 auto;
    margin-left: 20px;  
    color: #ffffff;
    margin-top: auto ;
}

#div_reuso{
    width: 100%;
    margin-left: 20px;  
    margin-right: 20px;  
    color: #ffffff;
    font-size: 25px;
}

.divfilho {
    margin-top: 5%;
    margin-left: 15%;
    display: inline-block;
    background-color: #2D8BBA; 
    height: 80px;
    width: 270px;
    border-radius: 15px;
}

.divneto {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px; 
    font-size: 30px;
}

.conteudo {
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 20px;  
    margin-top: 20px; 
    color: #ffffff;
    margin-top: auto ;
}


.dentro{
    margin-top: 5%;
    margin-left: 15%;
    display: flex;
    background-color: #2D8BBA;
    height: 200px;
    width: 500px; 
    border-radius: 20px; 
    display: none;
}