/*geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323233;
    border: none;
   
}


input, label{
    display: block;
    width: 100%;

}

inpu:focus, label:focus{
    outline: none;
}

a{
    color: red;
    text-decoration: none;
}

body{
    background-image: url('../../assets/hero-bg.jpg');
    background-size: cover;
    
}



/*Barrra navegação*/

.nav {
    position: relative;
    padding: 0;
    width: 100%;
    height: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.nav .logo h1 {
    position: relative;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Manrope';
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.nav .logo h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #7eadc1ea;
}

.nav .logo .img-container {
    position: relative;
    width: 64px;
    height: 64px;
}

.nav .logo .img-container img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu {
    position: fixed;
    right: 80px;
    top: 40px;
    width: auto;
    height: auto;
    z-index: 99;
}

.menu:hover {
    cursor: pointer;
}

.menu div {
    width: 32px;
    height: 2px;
    backdrop-filter: invert(80%);
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 8px;
    transition: all .2s ease-in-out;
}

.menu-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fcfcff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 80px;
    z-index: 90;
    transform: translateX(100%);
    transition: all .6s ease-in-out;
}

.active {
    transform: translateX(0)
}

.menu-screen ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: auto;
    height: 380px;
}

.menu-screen ul li {
    position: relative;
}

.menu-screen ul li a {
    color: black;
    text-align: left;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 400;
    font-family: 'Playfair Display';
    transition: all .42s ease-in-out;
}

.menu-screen ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: black;
    z-index: 91;
    transition: all .42s ease-in-out;
}

.menu-screen ul li a:hover::after {
    width: 100%;
}

-IM

-FOOTER



.footer {
    position: relative;
    width: 100%;
    height: 388px;
    background: #000;
}

.footer .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.footer .container .box1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.footer .container .box1 .logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 128px;
}

.footer .container .box1 .logo h1 {
    position: relative;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Manrope';
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.footer .container .box1 .logo h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #7eadc1ea;
}

.footer .container .box1 .logo .img-container {
    position: relative;
    width: 38px;
    height: 38px;
}

.footer .container .box1 .logo .img-container img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer .container .box1 p {
    color: white;
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 300;
    text-align: left;
}

.footer .container .box2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.footer .container .box2 .explore {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    height: 228px;
}

.footer .container .box2 .explore .title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 300;
    font-family: 'Manrope';
    text-transform: uppercase;
    margin-bottom: 8px;
}

.footer .container .box2 .explore li a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 300;
    font-family: 'Manrope';
    text-transform: capitalize;
    transition: all .42s ease-in-out;
}

.footer .container .box2 .explore li a:hover {
    color: #7eadc1;
}

.footer .container .box2 .social {
    list-style: none;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 128px;
}

.footer .container .box2 .social li a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 300;
    font-family: 'Manrope';
    text-transform: capitalize;
    transition: all .42s ease-in-out;
}

.footer .container .box2 .social li a:hover {
    color: #7eadc1;
}

.footer .container .box3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.footer .container .box3 .contact-info {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    height: 228px;
}

.footer .container .box3 .contact-info .title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 300;
    font-family: 'Manrope';
    text-transform: uppercase;
    margin-bottom: 8px;
}

.footer .container .box3 .contact-info li {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 300;
    font-family: 'Manrope';
    text-transform: capitalize;
}

/*form*/



#main-container{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7AE7FF80;
    border-radius: 10px;
    padding: 15px;
}

#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box{
    flex: 1 1 100%;
    position: relative;
    border-radius: 10px;
}

.half-box{
    flex: 1 1 45%;
    position: relative;
}

.spacing{
    margin-right: 2.5%;
}

label{
    font-weight: bold;
    font-size: .8rem;
}

input{
    border-bottom: 2px solid #7AE7FF80;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus{
    border-color: blue;
}

input[type="submit"]{
    background-color: rgb(244, 82, 109);
    color: #FFF;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    
}

input[type="submit"]:hover{
    background-color: rgb(152, 17, 42);
    transition: .5s;
    }

#agreement{
    margin-right: 5px;
}

#agreement, #agreement-label{
    display: inline-block;
    width: auto;
}

/*validações*/

.error-validation{
    color: red;
    position: absolute;
    top: 57px;
    font-size: .8rem;

}

.template{
    display: none;
}
