.footer {
    position: relative;
    width: 100%;
    height: 388px;
    background: #000;
}

.footer .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.footer .container .box1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.footer .container .box1 .logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 128px;
}

.footer .container .box1 .logo h1 {
    position: relative;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Manrope';
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.footer .container .box1 .logo h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #7eadc1ea;
}

.footer .container .box1 .logo .img-container {
    position: relative;
    width: 38px;
    height: 38px;
}

.footer .container .box1 .logo .img-container img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer .container .box1 p {
    color: white;
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 300;
    text-align: left;
}

.footer .container .box2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.footer .container .box2 .explore {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    height: 228px;
}

.footer .container .box2 .explore .title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 300;
    font-family: 'Manrope';
    text-transform: uppercase;
    margin-bottom: 8px;
}

.footer .container .box2 .explore li a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 300;
    font-family: 'Manrope';
    text-transform: capitalize;
    transition: all .42s ease-in-out;
}

.footer .container .box2 .explore li a:hover {
    color: #7eadc1;
}

.footer .container .box2 .social {
    list-style: none;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 128px;
}

.footer .container .box2 .social li a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 300;
    font-family: 'Manrope';
    text-transform: capitalize;
    transition: all .42s ease-in-out;
}

.footer .container .box2 .social li a:hover {
    color: #7eadc1;
}

.footer .container .box3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.footer .container .box3 .contact-info {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    height: 228px;
}

.footer .container .box3 .contact-info .title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 300;
    font-family: 'Manrope';
    text-transform: uppercase;
    margin-bottom: 8px;
}

.footer .container .box3 .contact-info li {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 300;
    font-family: 'Manrope';
    text-transform: capitalize;
}