.nav {
    position: relative;
    width: 100%;
    height: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.nav .logo h1 {
    position: relative;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Manrope';
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.nav .logo h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #7eadc1ea;
}

.nav .logo .img-container {
    position: relative;
    width: 64px;
    height: 64px;
}

.nav .logo .img-container img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}